h1
{
    text-align: center;
    color: darkgreen;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
}

p
{
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    color: #b11c1c;
}

button
{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1a5f7a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body
{
    background-color: lightgreen;

}

div#results
{
    text-align: left;
    font-family: 'Verdana', sans-serif;
    font-size: 22px;
    color: #000000;
    margin-top: 20px;
}

nav
{
    background-color: #64d9cf;
    padding: 10px;
    border: 3px solid #201f1fa1;
    border-radius: 5px;
    text-align: left;
    color: #dadee0;
}

a
{
    color: #212c39;
    text-decoration: none;

}

a:hover
{
    text-decoration: underline;
}