button
{
    font-size: 20px;
    background-color: lightpink;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 24px;
    cursor: pointer;
    margin: 5px;
}

button:disabled
{
    background-color: grey;
    border: 2px solid darkgrey;
    cursor: not-allowed;
    margin: 5px;
}   

body
{
    text-align: left;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: lightsteelblue;
    color: #333333;
}

nav
{
    background-color: #64d9cf;
    padding: 10px;
    border: 3px solid #201f1fa1;
    border-radius: 5px;
    text-align: left;
    color: #dadee0;
}

a
{
    color: #212c39;
    text-decoration: none;

}

a:hover
{
    text-decoration: underline;
}