h1
{
    font-size: 2.5em;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

p
{
    font-size: 1.2em;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 15px;
}

nav
{
    background-color: #64d9cf;
    padding: 10px;
    border: 3px solid #201f1fa1;
    border-radius: 5px;
    text-align: left;
    color: #dadee0;
}

body
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daa2a2;
}

a
{
    color: #212c39;
    text-decoration: none;

}

a:hover
{
    text-decoration: underline;
}