nav
{
    background-color: #64d9cf;
    padding: 10px;
    border: 3px solid #201f1fa1;
    border-radius: 5px;
    text-align: left;
    color: #dadee0;
}

a
{
    color: #212c39;
    text-decoration: none;

}

a:hover
{
    text-decoration: underline;
}

body
{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: beige;
    
}

form
{
    margin-bottom: 50px;
    color: darkblue;
    font-size: 20px;
    text-align: center;
}

input[type="text"]
{
    padding: 10px;
    font-size: 16px;
    border: 2px solid darkblue;
    border-radius: 5px;
}

input[type="submit"]
{
    background-color: darkblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover
{
    background-color: rgb(54, 2, 121);
}

p
{
    font-size: 18px;
    color: rgb(144, 3, 3);
}

#results
{
    font-weight: bold;
    margin-top: 20px;
    font-size: larger;
}

#nameResults1, #nameResults2, #zipResults
{
    font-weight: bold;
    margin-top: 10px;
}

